#!/bin/bash

exec &> >(tee -a "<%= @log_path_prefix %>.log")

# GitLab Job metric settings
# https://gitlab.com/gitlab-com/runbooks/-/blob/master/docs/uncategorized/job_completion.md
RESOURCE='patroni-gcs-snapshot'
MAX_AGE='3600' # 60 minutes
PROM_SHARD='shard/<%= node['prometheus']['labels']['shard'] %>'
PROM_TIER='tier/<%= node['prometheus']['labels']['tier'] %>'
PROM_TYPE='type/<%= node['prometheus']['labels']['type'] %>'

pushgateway(){
  local url="http://localhost:9091/metrics/job/${RESOURCE}/${PROM_SHARD}/${PROM_TIER}/${PROM_TYPE}"
  curl -siv --data-binary @- "${url}"
}

stopbackup() {
  echo "SELECT <%= node['gitlab-patroni']['postgresql']['version'].to_i >= 15 ? %Q(pg_backup_stop(FALSE);) : %Q(pg_stop_backup(FALSE, FALSE);) %>" > /tmp/snapshot-stop-backup
  # Wait for gitlab-psql to return from the background
  wait -n %1
}

echo "============== $(date +%Y%m%d-%H%M%S)"

# Push start of snapshot to pushgateway
cat <<PROM | pushgateway
# HELP gitlab_job_start_timestamp_seconds The start time of the job.
# TYPE gitlab_job_start_timestamp_seconds gauge
gitlab_job_start_timestamp_seconds{resource="${RESOURCE}"} $(date +%s)
# HELP gitlab_job_success_timestamp_seconds The time the job succeeded.
# TYPE gitlab_job_success_timestamp_seconds gauge
gitlab_job_success_timestamp_seconds{resource="${RESOURCE}"} 0
# HELP gitlab_job_max_age_seconds How long the job is allowed to run before marking it failed.
# TYPE gitlab_job_max_age_seconds gauge
gitlab_job_max_age_seconds{resource="${RESOURCE}"} ${MAX_AGE}
# HELP gitlab_job_failed Boolean status of the job.
# TYPE gitlab_job_failed gauge
gitlab_job_failed{resource="${RESOURCE}"} 0
PROM

# Start with fresh FIFOs
rm -f /tmp/snapshot-start-backup /tmp/snapshot-stop-backup
mkfifo /tmp/snapshot-start-backup /tmp/snapshot-stop-backup &>/dev/null

# pg_{start,stop}_backup have to be executed on the same connection
gitlab-psql -f /tmp/snapshot-start-backup -f /tmp/snapshot-stop-backup &

# Since gitlab-psql is in the background, gcloud snapshot could start even before pg_start_backup has returned,
# hence we add the COPY query that would run after pg_start_backup returns and leave a temp file as an evidence of execution.
rm -f /tmp/ready-to-snapshot
echo "SELECT <%= node['gitlab-patroni']['postgresql']['version'].to_i >= 15 ? %Q(pg_backup_start('GCS snapshot', TRUE);) : %Q(pg_start_backup('GCS snapshot', TRUE, FALSE);) %> COPY (SELECT 1) TO '/tmp/ready-to-snapshot'" > /tmp/snapshot-start-backup

loop_max_time=$(date -d '5 minutes' +%s)
while [[ ! -f /tmp/ready-to-snapshot ]]; do
  if [[ $(date +%s) -gt $loop_max_time ]]; then
    echo "Loop checking for /tmp/ready-to-snapshot ran for 5 minutes, exiting ..."
    exit 1
  fi

  sleep 0.5
done

gcloud auth activate-service-account --key-file=<%= @gcs_credentials_path %>

# this will either give a count of PVs, or '' if the VG doesn't exist
pv_count=$(vgs gitlab-vg --noheadings -o pv_count 2>/dev/null | tr -d ' ')

if [[ -z $pv_count ]]; then
  gcloud compute disks snapshot <%= node['gce']['instance']['name'] %>-data --project=<%= node['gce']['project']['projectId'] %> --zone=<%= node['gce']['instance']['zone'].split('/').last %> --description="Snapshot created by $0 on $(date)" || {
    echo "Snapshot failed!"

    cat <<PROM | pushgateway
# HELP gitlab_job_failed Boolean status of the job.
# TYPE gitlab_job_failed gauge
gitlab_job_failed{resource="${RESOURCE}"} 1
PROM

    stopbackup

    exit 1
  };
else
  # gcloud compute disks snapshot can handle multiple disks at once.
  # https://cloud.google.com/sdk/gcloud/reference/compute/disks/snapshot
  #
  # We need to ensure only snapshots from a given point in time are used
  # together in rebuilding the LVM VG (i.e. we're not utilizing snapshots
  # of different PVs taken at different times!), so we need to append 
  # the epoch to the snapshot name to ensure consistency on rebuild.
  
  epoch=$(date +%s)
  disks_list="<%= node['gce']['instance']['name'] %>-lvm-0"
  snap_names="<%= node['gce']['instance']['name'] %>-lvm-0-${epoch}"

  for i in $(seq 1 $((pv_count - 1))); do
    disks_list="${disks_list} <%= node['gce']['instance']['name'] %>-lvm-${i}";
    snap_names="${snap_names},<%= node['gce']['instance']['name'] %>-lvm-${i}-${epoch}";
  done

<% if node['gitlab-patroni']['snapshot']['suspend-during-snapshot'] == 'true' %>
  # suspend writes to LVM so we can take a consistent snapshot
  dmsetup suspend /dev/mapper/gitlab--vg-gitlab--lv
<% end %>

<% if node['gitlab-patroni']['snapshot']['use-instant-snap-with-cg'] == 'true' %>
  project=$(curl -H "Metadata-Flavor:Google" http://169.254.169.254/computeMetadata/v1/project/project-id)
  zone=$(curl -H "Metadata-Flavor:Google" http://169.254.169.254/computeMetadata/v1/instance/zone | cut -d / -f 4)
  instance=$(curl -H "Metadata-Flavor:Google" http://169.254.169.254/computeMetadata/v1/instance/name)

  # do I have a consistency group already?
  policy=$(gcloud compute resource-policies list --project ${project} | grep ${instance})
    ## TODO - need to iron out permissions before we can utilize consistency groups with instant snapshots
    ## For now, leave node['gitlab-patroni']['snapshot']['use-instant-snap-with-cg'] == 'false'

<% else %>
  gcloud compute disks snapshot ${disks_list} --snapshot-names ${snap_names} --project=<%= node['gce']['project']['projectId'] %> --zone=<%= node['gce']['instance']['zone'].split('/').last %> --description="Snapshot created by $0 on $(date)" || {  
    echo "Snapshots failed!"

    cat <<PROM | pushgateway
# HELP gitlab_job_failed Boolean status of the job.
# TYPE gitlab_job_failed gauge
gitlab_job_failed{resource="${RESOURCE}"} 1
PROM
<% end %>

<% if node['gitlab-patroni']['snapshot']['suspend-during-snapshot'] == 'true' %>
    # resume writes to LVM post-snapshot failure
    dmsetup resume /dev/mapper/gitlab--vg-gitlab--lv
<% end %>

    stopbackup
  
    exit 1
  };

<% if node['gitlab-patroni']['snapshot']['suspend-during-snapshot'] == 'true' %>
  # resume writes to LVM after a successful snapshot
  dmsetup resume /dev/mapper/gitlab--vg-gitlab--lv
<% end %>
fi

stopbackup

# Push finish of snapshot to pushgateway
cat <<PROM | pushgateway
# HELP gitlab_job_success_timestamp_seconds The time the job succeeded.
# TYPE gitlab_job_success_timestamp_seconds gauge
gitlab_job_success_timestamp_seconds{resource="${RESOURCE}"} $(date +%s)
PROM
